/* Eléments principaux de la page */
body
{
    background: url('images/fond-bleu-vert.png') repeat;
    background-position: center; 
	background-size: 1100px auto;

    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #6d3179; /*couleur de la police */
}
#bloc_page
{
    width: 1100px;
    margin: auto;
}
section h1, footer h1
{
    font-weight: normal;
    text-transform: uppercase;
}
/* Header */
header
{
    align-items: flex-end;
	max-height:300px;
	max-width:1100px;
}
#titre_principal
{
    display: inline-block;
    flex-direction: column;
}
#logo
{
    display:inline-block;
    flex-direction: column;
    align-items: baseline;
}
#logo img
{
    width: 1100px;
    height: 250px;
}
#bandeau
{
    display:inline-block;
    flex-direction: column;
    align-items: baseline;
}
#bandeau img
{
    width: 1100px;
    height: 250px;
}
#langues1
{
    display:inline-block;
	position: relative;
	top:-200px; 
	left : 97%;
    flex-direction: column;
    align-items: right-side;
}
#langues1 img
{
    width: 30px;
    height: 20px;
}
#langues2
{
    display:inline-block;
	position: relative;
	top:-170px;
	left:91%;
    flex-direction: column;
    align-items: right-side;
}
#langues2 img
{
    width: 60px;
    height: 20px;
}
#langues3
{
    display:inline-block;
	position: relative;
	top:-140px; 
	left:85%;
    flex-direction: column;
    align-items: right-side;
}
#langues3 img
{
    width: 60px;
    height: 20px;
}
#langues4
{
    display:inline-block;
	position: relative;
	top:-110px; 
	left: 82%;
    flex-direction: column;
    align-items: right-side;
}
#langues4 img
{
    width: 30px;
    height: 20px;
}
#logo-hiver
{
    display: inline-block;
    flex-direction: column;
	position: relative;
	align-items: baseline;
}

#logo-hiver img
{
	margin-top:-35px;
	margin-left:85px;
	width: 580px;
    height: 58px;
}
#logo-ete
{
    display: inline-block;
    flex-direction: column;
}
#logo-ete img
{
	margin-right:50px;
	margin-top:-80px;
	width: 339px;
    height: 58px;
}
header h1
{
    font-size: 3.7em;
    font-weight: normal;
	text-align: center;
	color:yellow;
	margin-top:-20px;
}

header h2
{
    /*font-family: Dayrom, serif;*/
    font-size: 3.7em;
	font-weight: normal;
 	/*text-align: center;*/
	color:#0070c0;
	margin-left:424px;
	margin-top:-109px;
}
header h3
{
    font-size: 3.7em;
	font-weight: normal;
 	text-align: center;
	color:#0070c0;
	margin-top:-60px;
}
/* Navigation */
#logo-liens
{
    position: absolute;
	margin-top:-25px;
    width: 100%;
    padding-left: 4px;
    color: yellow;
    font-size: 1em;
	font-weight:bold;
	text-align:justify;    
}
nav
{
	display : inline-block;
	width: 1100px;
}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
	text-align: left;
	transform: rotate(0deg);
	text-indent:150px;
}
nav a
{
    font-size: 1.2em;
    color: yellow;
	font-weight:bold;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}
section
{
    display: flex;
    margin-top: 80px;
}
#italie
{
    display: flex;
    align-items: baseline;
}
#italie img
{
	width: 400px;
	margin-top:-75px;
}

#vue2d
{
    display: flex; /*inline-block;*/
    align-items: baseline;
}
#vue2d img
{
	margin-top:-65px;
	margin-right:10px;
	width: 200px;
}
#description-det
{
    display: inline-block;
	text-align:left;
}
#descr-det
{
	margin-top:-75px;
	margin-left: 120px;
	margin-right:100px;
	width: 80%;
	color:#0070c0;
	font-style:italic;
}
#esp-int
{
    display: block;
    margin-top: 50px; /*25px;*/
}
#esp-int h1
{
	margin-top:-25px;
	color:#0070c0;
}
#photos-int
{
    display: flex; /*inline-block;*/
}

#photos-int img
{
	margin-top:50px; /*25px;*/
	margin-left:-10px;
}
#photo23
{
    display: flex; /*inline-block;*/
}
#photo23 img
{
	margin-top:40px;
	margin-left:-50px; /*-200px;*/
	width: 200px;
	transform: rotate(-10deg);
    height: 300px;
}
#photo36
{
    display: flex; /*inline-block;*/
}
#photo36 img
{
	margin-top:15px;
	margin-left:-30px;
	width: 440px;
	transform: rotate(0deg);
    height: 315px;
}
#photo37
{
    display: flex; /*inline-block;*/
}

#photo37 img
{
	margin-top:27px;
	margin-left:-147px;
	transform: rotate(3deg);
    height: 315px;
}
#esp-int2
{
    display: flex;
    margin-top: 150px;
}
#photos-int2
{
    display: flex; /*inline-block;*/
}
#photo35
{
    display: flex; /*inline-block;*/
    flex-direction: center;
}

#photo35 img
{
	margin-top:-110px;
	margin-left:150px;
	width: 800px;
	height: 450px;
	transform: rotate(0deg);
}
#esp-int3
{
    display: block;
    margin-top: 25px;
}

#photos-int3
{
    display: flex; /*inline-block;*/
}


#photo31
{
    display: flex; /*inline-block;*/
}

#photo31 img
{
	margin-top:40px;
	margin-left:80px; /*50px;*/
	width: 300px;
	transform: rotate(-10deg);
    height: 400px;
}
#photo27
{
    display: flex; /*inline-block;*/
}
#photo27 img
{
	margin-top:15px;
	margin-left:0px;
	width: 400px;
	transform: rotate(0deg);
    height: 300px;
}
#photo42
{
    display: flex; /*inline-block;*/
}
#photo42 img
{
	margin-top:27px;
	margin-left:0px;
	width: 234px;
	transform: rotate(10deg);
    height: 415px;
}
#esp-ext
{
    display: flex;
    margin-top: 70px;
}
#esp-ext h1
{
	margin-top:-25px;
	color:#0070c0;
}
#photos-ext
{
    display: flex; /*inline-block;*/
}
#photo14
{
    display: flex; /*inline-block;*/
}
#photo14 img
{
	margin-top:70px;
	margin-left:-50px; /*-250px;*/
	width: 200px;
	transform: rotate(-10deg);
    height: 242px;
}
#photo13
{
    display: flex; /*inline-block;*/
}
#photo13 img
{
	margin-top:30px;
	margin-left:-45px;
	width: 533px;
	transform: rotate(0deg);
    height: 300px;
}
#photo48
{
    display: flex; /*inline-block;*/
}
#photo48 img
{
	margin-top:70px;
	margin-left:-20px;
	width: 269px;
	transform: rotate(10deg);
    height: 242px;
}
#esp-ext2
{
    display: flex;
    margin-top: 70px;
}
#photos-ext2
{
    display: flex; /*inline-block;*/
}
#photo09
{
    display: flex; /*inline-block;*/
}

#photo09 img
{
	margin-top:40px;
	margin-left:80px; /*50px;*/
	width: 350px;
	transform: rotate(0deg);
    height: 263px;
}
#photo46
{
    display: flex; /*inline-block;*/
}

#photo46 img
{
	margin-top:30px;
	margin-left:50px;
	width: 535px;
	transform: rotate(10deg);
    height: 300px;
}
#tarifs
{
    display: flex;
    margin-top: 70px;
}
#table-tar
{
    display: inline-block; /*inline-block;*/
}
#tarete
{
    display: flex; /*inline-block;*/
}
#tarete img
{
	margin-top:40px;
	margin-left:198px;
	width: 702px;
	transform: rotate(0deg);
    height: 113px;
}
#tarhiv
{
    display: flex; /*inline-block;*/
}

#tarhiv img
{
	margin-top:40px;
	margin-left:0px;
	width: 1100px;
	transform: rotate(0deg);
    height: 113px;
}
article, aside
{
    text-align: justify;
	color:#0070c0;
}

article
{
    flex: 1.0;
}
/* Footer */
footer
{
    display:flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/flocsol.png') repeat-x top, url('images/ombre.png') repeat-x top;
    background-size: 30px 15px;
	padding-top: 25px;
	margin-top:25px;
}
footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
	color:#0070c0;
}
#contacts
{
    width: full;
}
#contacts img
{
	margin-left:100px;
    height: 50px;
}
footer a
{
    font-size: 1.2em;
    color: #0070c0;
	font-weight:bold;
    padding-bottom: 3px;
    text-decoration: none;
    vertical-align: top;
	margin-left: 100px;
}
